/* ******************** */
/* ** 02_CSS 선택자 2 ** */
/* ******************** */

/* 
* {
    color: green;
}  
*/

/* 속성 선택자 */
/* div 중에 name 속성을 가지고 있는 태그 선택 */
/* div[name] {
    background-color: orange;
} */

/* div 중에 name 속성 값이 name1과 일치하는 태그 선택 */
div[name=name1] {
    background-color: orangered;
}

/* div 중 name 속성 값이 name1이 포함되어 있는 태그 선택 (단, 속성값은 띄어쓰기로 구분) */
/* 동일한 우선순위가 적용되기 때문에 마지막 CSS 설정이 적용되는 것 */
div[name~=name1] {
    background-color: yellow;
}

/* div 중에 class 속성 안에 class가 포함되어 있는 태그 선택 (단, 속성값은 - 으로 구분) */
/* class="class-div" */
div[class|=class] {
    background-color: aqua;
}

/* div 중에 name 속성이 name으로 시작되는 태그 선택 */
div[name^=name]{
    background-color: blue;
}

/* div 중에 class 속성이 class로 끝나는 태그 선택 */
div[class$=class] {
    color: white;
}

/* div 중에 class 속성 중에 i를 포함하는 태그 선택 */
div[class*=i] {
    background-color: lightgreen;
    color: red;;
}

/* 클래스가 div-class인 것 중 name 속성 값에 name3이 포함되어 있는 태그 선택 */
/*(단, 속성값이 띄어쓰기로 구분) */
.div-class[name~=name3]{
    background-color: pink;
}

/* ******************** */
/* 자식 선택자와 후손(하위) 선택자 */
#test1>h4{
    background-color: orange;
}

#test1>ul>h4 {
    background-color: purple;
}

#test1>ul>li {
    background-color: coral;
}

#test1 li {
    color: blue;
}

/* ******************** */
/* 동위 선택자 */
#div-test {
    background-color: tomato;
}

#div-test+div {
    background-color: green;
}

/* #div-test~div{
    background-color: greenyellow;
} */

/* ******************** */
/* 반응 선택자 */
#active-test, #hover-test {
    background-color: yellowgreen;
    width: 300px;
    height: 300px;
}

#active-test:active {
    background-color: yellow;
}

#hover-test:hover {
    background-color: tomato;
    cursor: pointer;
}

#userId:focus {
    background-color: teal;
    border: 4px solid red;
}

/* ******************** */
/* 상태 선택자 */

input[type=checkbox]:checked {
    width: 50px;
    height: 50px;
}

input[type=checkbox]:checked+label {
    font-size: 30px;
}

button:enabled {
    background-color: aquamarine;
}

button:disabled {
    color: red;
}

/* select>option */
option:enabled {
    background-color: pink;
}

option:disabled {
    background-color: gray;
}

/* ******************** */
/* 구조 선택자 */
/* 형제 관계 태그 중 첫 번째 태그 선택 */
#test2 p:first-child {
    background-color: tomato;
    color: white;
}

/* 형제 관계 태그 중 마지막 태그 선택 */
/* 마지막 자식 요소가 p 태그가 아니여서 스타일이 적용되지 않는다 */
#test2 p:last-child {
    background-color: orange;
    color: white;
}

/* 형제 관계 태그 중 앞에서 수열 번째 태그 선택 */
/* 수식을 사용하거나 odd(홀수), even(짝수을 대입할 수 있다 */
/* #test2 p:nth-child(2) { */
/* #test2 p:nth-child(2n){ */
/* #test2 p:nth-child(2n+1){ */
#test2 p:nth-child(even){
/* #test2 p:nth-child(odd){ */
    background-color: yellowgreen;
    color: white;
}

/* 형제 관계 태그 중 뒤에서 수열 번째 태그 선택 */
#test2 p:nth-last-child(4){
    background-color: skyblue;
    color: white;
}

/* 형제 관계 태그 중 첫 번째 태그 선택 */
#test3 p:first-of-type{
    background-color: red;
    color: white;
}

/* 형제 관계 태그 중 마지막 태그 선택 */
#test3 p:last-of-type {
    background-color: orange;
    color: white;
}

/* 형제 관계 태그 중 앞에서 n번째 태그 선택 */
#test3 p:nth-of-type(even) {
    background-color: yellowgreen;
    color: white;
}

/* 형제 관계 태그 중 뒤에서 n번째 태그 선택 */
#test3 p:nth-last-of-type(4) {
    background-color: skyblue;
    color: white;
}

/* ******************** */
/* 문자 선택자 */
/* 첫 번째 글자를 선택해서 스타일 적용 */
#test4>p::first-letter {
    font-size: 2em;
}

/* 첫 번째 라인을 선택해서 스타일 적용 */
#test4 p::first-line {
    background-color: wheat;
}

/* 요소 내용 앞에 위치하는 공간을 선택 */
#test4 p::before {
    content: '1. ';
}

/* 요소 내용 뒤에 위치하는 공간을 선택 */
#test4 p::after {
    content: '@@@@@';
    font-size: 2em;
}

/* 사용자가 드래그한 글자 스타일 변경 */
#test4 p::selection {
    background-color: tomato;
    color: white;
}

/* ******************** */
/* 부정 선택자 */
/* #test5 p:not(p.p) {
    background-color: salmon;
    color: white;
} */

#test5 p:not(:nth-child(even)) {
    background-color: salmon;
}