/* ******************** */
/* **** 07_CSS 변형 **** */
/* ******************** */

.trans {
    width: 250px;
    height: 200px;
    margin-left: 30px;
}

/* 2차원 변형 */
#trans2-1:hover {
    /* transform: translateX(50px); */
    /* 사파리나 크롬 */
    -webkit-transform: translateX(-50px);
    /* 인터넷 익스플로러 */
    -ms-transform: translateX(-50px);
    /* 모질라가 만든 브라우저, 파이어폭스 */
    -moz-transform: translateX(-50px);
    transform: translateX(-50px);
}

#trans2-2:hover {
    /* transform: translateY(50px); */
    transform: translateY(-50px);
}

#trans2-3:hover {
    transform: translate(50px, 50px);
}

#trans2-4:hover {
    transform: scaleX(0.5);
    /* transform: scaleX(-2); */
}